In [3]:
fruits = ["りんご", "バナナ", "みかん"]

In [5]:
print(fruits[0])
print(fruits[2])

りんご
みかん

In [7]:
colors = ["赤", "青"]

# 「緑」を追加する
colors.append("緑")

# 最初の要素を削除する
colors.pop(0)
# 「青」を削除する
colors.remove("青")
# 結果を表示
print(colors)  # → ["青", "緑"]

['緑']

In [8]:
animals = ["犬", "猫", "鳥"]
for animal in animals:
    print(animal)

犬
猫
鳥

In [ ]:
# ✅ 問題4：
# 次の情報を辞書にして、リストにまとめてください。

# 名前	年齢
# 太郎	20歳
# 花子	18歳

# リスト名は people とし、最後にその内容を print() してください。

# ヒント：辞書の形は {"名前": 値, "年齢": 値} です。
people = [{"名前": "太郎", "年齢":20},
          {"名前": "花子", "年齢":18}]
print(people[-1])

{'名前': '花子', '年齢': 18}

In [11]:
person = {"名前": "太郎", "年齢": 20}
print(person["年齢"])

20

In [12]:
people = [{"名前": "太郎", "年齢": 20}, {"名前": "花子", "年齢": 18}]
for person in people:
    print(f"私の名前は{person['名前']}、{person['年齢']}歳です。")

私の名前は太郎、20歳です。
私の名前は花子、18歳です。

In [13]:
# ✅ 問題7：
# 次の辞書を使って、全てのキー（「名前」と「年齢」）を表示してください。
person = {"名前": "太郎", "年齢": 20}
for key in person.keys():
    print(key)

名前
年齢

In [15]:
person = {"名前": "太郎", "年齢": 20}
for key, value in person.items():
    print(f"{key}は{value}です。")

名前は太郎です。
年齢は20です。

In [32]:
people = [
    {"名前": "太郎", "年齢": 20},
    {"名前": "花子", "年齢": 18},
    {"名前": "次郎", "年齢": 25}
]

In [33]:
def get_age_by_name(name):
    for person in people:
        if person["名前"] == name:
            return person["年齢"]
    return "該当する人がいません"

In [34]:
print(get_age_by_name("花子"))  # 出力: 18
print(get_age_by_name("次郎"))  # 出力: 25
print(get_age_by_name("太郎"))  # 出力: 20

18
25
20

In [37]:
people = [
    {"名前": "太郎", "年齢": 20},
    {"名前": "花子", "年齢": 18},
    {"名前": "次郎", "年齢": 25}
]

adults = [person for person in people if person["年齢"] >= 20]
print(adults)

[{'名前': '太郎', '年齢': 20}, {'名前': '次郎', '年齢': 25}]

In [65]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = "https://books.toscrape.com/"

res = requests.get(url)

soup = BeautifulSoup(res.content, 'html.parser')

lists = soup.find_all('li', attrs=('class', 'col-lg-3'))
data = []
for list in lists:
    title = list.find('h3').text
    price = list.find('p', attrs=('class', 'price_color')).text
    books = {
        "タイトル": title,
        "価格": price
    }
    data.append(books)
    
df = pd.DataFrame(data)
df

                                     タイトル      価格
0                      A Light in the ...  £51.77
1                      Tipping the Velvet  £53.74
2                              Soumission  £50.10
3                           Sharp Objects  £47.82
4            Sapiens: A Brief History ...  £54.23
5                         The Requiem Red  £22.65
6            The Dirty Little Secrets ...  £33.34
7                 The Coming Woman: A ...  £17.93
8                     The Boys in the ...  £22.60
9                         The Black Maria  £52.15
10  Starving Hearts (Triangular Trade ...  £13.99
11                  Shakespeare's Sonnets  £20.66
12                            Set Me Free  £17.46
13    Scott Pilgrim's Precious Little ...  £52.29
14                      Rip it Up and ...  £35.02
15                  Our Band Could Be ...  £57.25
16                                   Olio  £23.88
17        Mesaerion: The Best Science ...  £37.59
18           Libertarianism for Beginners  £51.33
19                It's Only the Himalayas  £45.17